:root{
    --main-txt-color:#000000;
    --sec-txt-color: white;
    --main-background-color:#606D5D;
    --paige-color:#EDF4ED;
    --box-main-color:#E8F4CD ;
    --cta-btn-color:#ABD1B5;
    --title-h1:"Great Vibes", cursive;
    --title-h2:"Patrick Hand", cursive; 
    --pragraf-font: "Lora", serif; 
    --title-h1-color:#FA198B ;
}

/*mobile*/
@media only screen and (max-width: 480px) {
.download-button{
    background-color: var(--main-background-color) ;
    text-decoration: none;
    color: var(--sec-txt-color);
    width: 100px;
    height: 40px;

}
}

/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/*Desktop*/
@media only screen and (min-width: 769px) {

}